* ::after, #studio h2::before, .sectionNomination::before, .site-footer::before, .flower {
    animation: flowerRotate 10s linear infinite;
}

@keyframes flowerRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}